#busqueda{
    display: none;
}

#busqueda.showBus{
    margin-top: calc(3rem + 20px);  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: calc(100vh - 3rem - 63px);
}


#ingresoMainBusqueda.hiddenBus{
    display: none;
}

#ingresoMainBusqueda{
    background-color: white;
    font-size: 22px;
    border: solid 1px gray(238, 13, 13);
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    box-shadow: 0 0  20px 4px rgb(82, 82, 82);
    margin-top: 1.3rem;
}

#ingresoMainBusqueda > button{
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px;
    background-color: rgb(0, 0, 0);
    color:rgb(230, 230, 230);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#ingresoMainBusqueda > button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.ingresoBusqueda{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.ingresoBusqueda > div{
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

#textInputBus, #searchInput{
    font-size: 16px;
    width: 200px;
    border: solid 1px gray;
    border-radius: 2px;
    padding: 6px 10px;
}




#resultadoBusqueda{
    display: none;
}
#resultadoBusqueda.showBus{
    display: flex;
    gap: 1rem;
    width: 90vw;
    height: 65vh;
    flex-direction: column;
    margin-top: -2rem;
}

.regresarButtonBus{
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px;
    background-color: rgb(0, 0, 0);
    color:rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}

.regresarButtonBus:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.regresarBus{
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
}